.jumbotron {
  padding-top: 6rem;
  background-color: #ffc401;
  font-size: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fdfdfd;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#fitur {
  background-color: #ffc401;
}

section {
  padding-top: 5rem;
}
